{% extends 'users/base.html' %}

{% block main %}
<!-- Fast passage   -->
        <div class="biv-location">
            <span>Planos</span>
        </div>
<!-- Fast passage   -->

<!-- Content   -->
        <div class="biv-panel-content">

            <div class="biv-panel-btns">
                <a href="{% url  'users:plano-new' %}" class="biv-panel-btn">Adicionar Plano</a>
            </div>

            <div class="biv-panel-tiles">
                <div class="row">
                    {% for plano in planos %}
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                            <a href="{% url  'users:plano-edit' plano.id %}" class="biv-panel-tile">
                                <div class="biv-panel-tile-icon">
                                    <i class="{{ plano.icon }}"></i>
                                </div>
                                <div class="biv-panel-tile-title">{{ plano.name }} MEGAS</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
<!-- Content   -->
{% endblock %}

