{% extends "libercom/base.html" %}

{% block main %}
    <!-- Start of slider
    ============================================= -->
    <!-- START REVOLUTION SLIDER 5.2.5.1 auto mode -->
    <div id="rev_slider_2_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.2.5.1">
        <ul>
            <!-- SLIDE  -->
            <li data-index="rs-13" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="rev-slider/img/slide4.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                {% load static %}
                <img src="{% static 'libercom/rev-slider/img/slide4.jpg' %}"  alt="" title="slide4"  width="1920" height="880" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption   tp-resizeme"
                    id="slide-20-layer-1"
                    data-x="['left','left','left','left']" data-hoffset="['283','15','30','19']"
                    data-y="['top','top','top','top']" data-voffset="['200','200','213','135']"
                    data-fontsize="['46','46','46','32']"
                    data-lineheight="['46','46','46','35']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; font-size: 46px;
                     line-height: 46px; font-weight: 800; color: rgb(238,238,238);
                     font-family:Raleway,serif;text-transform:uppercase;">
                    Se você é uma Gamer <br>Nós temos o plano<br> perfeito para você
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption   tp-resizeme"
                    id="slide-21-layer-2"
                    data-x="['left','left','left','left']" data-hoffset="['284','15','38','21']"
                    data-y="['top','top','top','top']" data-voffset="['350','350','360','245']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 300; color: rgba(102, 102, 102, 1.00);font-family:Lato,serif;text-transform:uppercase;">Não fique para atrás por causa de upload
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption   tp-resizeme"
                    id="slide-22-layer-3"
                    data-x="['left','left','left','left']" data-hoffset="['284','15','38','21']"
                    data-y="['top','top','top','top']" data-voffset="['380','380','400','280']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 22px; font-weight: 900; color: rgba(66, 165, 245, 1.00);font-family:Lato,serif;text-transform:uppercase;">400 MEGAS + UPLOAD PLUS
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption   tp-resizeme"
                    id="slide-23-layer-4"
                    data-x="['left','left','left','left']" data-hoffset="['285','15','33','610']"
                    data-y="['top','top','top','top']" data-voffset="['410','400','350','200']"
                    data-color="['rgba(34, 34, 34, 1.00)','rgba(34, 34, 34, 1.00)','rgba(255, 255, 255, 1.00)','rgba(255, 255, 255, 1.00)']"
                    data-width="['606','606','684','684']"
                    data-height="['223','223','224','224']"
                    data-whitespace="normal"
                    data-visibility="['on','on','off','off']"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-mask_in="x:0px;y:0px;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    style="z-index: 8;
                     max-width: 223px;
                      white-space: normal !important;
                       font-size: 24px;
                        line-height: 22px;
                        font-weight: 400;
                        color: rgb(239,239,239);
                        font-family:Lato,serif;
                        min-width:600px;">
                    <div class="tab-content">
                        <div class="row">
                           <div class="col-xs-6">
                              <ul>
                                 <li style="color: red">Roteador 4.0 - GRATUITO</li>
                                 <li style="color: red">100 MEGAS DE UPLOAD</li>
                                 <li style="color: red">Conexão Segura</li>
                              </ul>
                           </div>
                        </div>
                    </div>
                </div>
                <!-- LAYER NR. 5 -->
                <div class="tp-caption a-btn rev-btn "
                    id="slide-24-layer-5"
                    data-x="['left','left','left','center']" data-hoffset="['285','15','41','611']"
                    data-y="['top','top','top','middle']" data-voffset="['600','550','450','170']"
                    data-width="180"
                    data-height="50"
                    data-whitespace="normal"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-responsive="off"
                    style="z-index: 10; min-width: 180px; max-width: 50px; white-space: normal; color: rgba(34, 34, 34, 1.00);text-align:center;text-transform:uppercase;background-color:rgba(255, 255, 255, 1.00);padding:19px 40px 19px 40px;border-width:1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">QUERO
                </div>
                <!-- LAYER NR. 6 -->
                <div class="tp-caption a-btn rev-btn "
                id="slide-25-layer-6"
                data-x="['left','left','left','left']" data-hoffset="['562','250','41','19']"
                data-y="['top','top','top','top']" data-voffset="['600','550','540','330']"
                data-width="180"
                data-height="50"
                data-whitespace="normal"
                data-transform_idle="o:1;"
                data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                data-transform_out="opacity:0;s:300;"
                data-mask_in="x:0px;y:0px;"
                data-start="500"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on"
                data-responsive="off"
                style="z-index: 10; min-width: 180px; max-width: 50px; white-space: normal; color: rgba(34, 34, 34, 1.00);text-align:center;text-transform:uppercase;background-color:rgba(255, 255, 255, 1.00);padding:19px 40px 19px 40px;border-width:1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">Mais planos</div>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-10" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="rev-slider/img/slide4.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                {% load static %}
                <img src="{% static 'libercom/rev-slider/img/slide2.jpg' %}"  alt="" title="slide4"  width="1920" height="880" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption   tp-resizeme"
                    id="slide-20-layer-1"
                    data-x="['left','left','left','left']" data-hoffset="['283','15','30','19']"
                    data-y="['top','top','top','top']" data-voffset="['200','200','213','135']"
                    data-fontsize="['46','46','46','32']"
                    data-lineheight="['46','46','46','35']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; font-size: 46px;
                     line-height: 46px; font-weight: 800; color: rgb(33,33,33);
                     font-family:Raleway,serif;text-transform:uppercase;">
                    Internet <br>para a<br>família toda
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption   tp-resizeme"
                    id="slide-22-layer-3"
                    data-x="['left','left','left','left']" data-hoffset="['284','15','38','21']"
                    data-y="['top','top','top','top']" data-voffset="['380','380','400','280']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 22px; font-weight: 900;
                     color: rgba(66, 165, 245, 1.00);font-family:Lato,serif;text-transform:uppercase;">
                    Planos a partir de R$62,00/mês
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption   tp-resizeme"
                    id="slide-23-layer-4"
                    data-x="['left','left','left','left']" data-hoffset="['285','15','33','610']"
                    data-y="['top','top','top','top']" data-voffset="['410','400','350','200']"
                    data-color="['rgba(34, 34, 34, 1.00)','rgba(34, 34, 34, 1.00)','rgba(255, 255, 255, 1.00)','rgba(255, 255, 255, 1.00)']"
                    data-width="['606','606','684','684']"
                    data-height="['223','223','224','224']"
                    data-whitespace="normal"
                    data-visibility="['on','on','off','off']"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-mask_in="x:0px;y:0px;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    style="z-index: 8;
                     max-width: 223px;
                      white-space: normal;
                       font-size: 24px;
                        line-height: 22px;
                        font-weight: 400;
                        color: rgb(239,239,239);
                        font-family:Lato,serif;
                        min-width:600px;">
                    <div class="tab-content">
                        <div class="row">
                           <div class="col-xs-6">
                              <ul>
                                 <li>Roteador 2.0 - GRATUITO</li>
                                 <li>Banda Ilimitada</li>
                                 <li>Sem consulta ao SPC/SERASA</li>
                              </ul>
                           </div>
                        </div>
                    </div>
                </div>
                <!-- LAYER NR. 5 -->
                <div class="tp-caption a-btn rev-btn "
                    id="slide-24-layer-5"
                    data-x="['left','left','left','center']" data-hoffset="['285','15','41','611']"
                    data-y="['top','top','top','middle']" data-voffset="['600','550','450','170']"
                    data-width="180"
                    data-height="50"
                    data-whitespace="normal"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-responsive="off"
                    style="z-index: 10; min-width: 180px; max-width: 50px; white-space: normal; color: rgba(34, 34, 34, 1.00);text-align:center;text-transform:uppercase;background-color:rgba(255, 255, 255, 1.00);padding:19px 40px 19px 40px;border-width:1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">QUERO
                </div>
                <!-- LAYER NR. 6 -->
                <div class="tp-caption a-btn rev-btn "
                id="slide-25-layer-6"
                data-x="['left','left','left','left']" data-hoffset="['562','250','41','19']"
                data-y="['top','top','top','top']" data-voffset="['600','550','540','330']"
                data-width="180"
                data-height="50"
                data-whitespace="normal"
                data-transform_idle="o:1;"
                data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                data-transform_out="opacity:0;s:300;"
                data-mask_in="x:0px;y:0px;"
                data-start="500"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on"
                data-responsive="off"
                style="z-index: 10; min-width: 180px; max-width: 50px; white-space: normal; color: rgba(34, 34, 34, 1.00);text-align:center;text-transform:uppercase;background-color:rgba(255, 255, 255, 1.00);padding:19px 40px 19px 40px;border-width:1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">Mais planos</div>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-12" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="rev-slider/img/slide4.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                {% load static %}
                <img src="{% static 'libercom/rev-slider/img/slide3.jpg' %}"  alt="" title="slide4"  width="1920" height="880" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption   tp-resizeme"
                    id="slide-20-layer-1"
                    data-x="['left','left','left','left']" data-hoffset="['283','15','30','19']"
                    data-y="['top','top','top','top']" data-voffset="['200','200','213','135']"
                    data-fontsize="['46','46','46','32']"
                    data-lineheight="['46','46','46','35']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; font-size: 46px;
                     line-height: 46px; font-weight: 800; color: rgb(31,31,31);
                     font-family:Raleway,serif;text-transform:uppercase;">
                    Tem muitos <br>aparelhos<br>na sua casa??
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption   tp-resizeme"
                    id="slide-22-layer-3"
                    data-x="['left','left','left','left']" data-hoffset="['284','15','38','21']"
                    data-y="['top','top','top','top']" data-voffset="['380','380','400','280']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 22px;
                     font-weight: 900; color: rgba(66, 165, 245, 1.00);font-family:Lato,serif;text-transform:uppercase;">
                    Para planos a cima de 300 megas:
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption   tp-resizeme"
                    id="slide-23-layer-4"
                    data-x="['left','left','left','left']" data-hoffset="['285','15','33','610']"
                    data-y="['top','top','top','top']" data-voffset="['410','400','350','200']"
                    data-color="['rgba(34, 34, 34, 1.00)','rgba(34, 34, 34, 1.00)','rgba(255, 255, 255, 1.00)','rgba(255, 255, 255, 1.00)']"
                    data-width="['606','606','684','684']"
                    data-height="['223','223','224','224']"
                    data-whitespace="normal"
                    data-visibility="['on','on','off','off']"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-mask_in="x:0px;y:0px;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    style="z-index: 8;
                     max-width: 223px;
                      white-space: normal;
                       font-size: 24px;
                        line-height: 22px;
                        font-weight: 400;
                        color: rgb(239,239,239);
                        font-family:Lato,serif;
                        min-width:600px;">
                    <div class="tab-content">
                        <div class="row">
                           <div class="col-xs-6">
                              <ul>
                                 <li>Roteador 3 Antenas - GRATUITO</li>
                                 <li>Multi-conexão WIFI</li>
                                 <li>Fibra ópitica direto na sua casa</li>
                              </ul>
                           </div>
                        </div>
                    </div>
                </div>
                <!-- LAYER NR. 5 -->
                <div class="tp-caption a-btn rev-btn "
                    id="slide-24-layer-5"
                    data-x="['left','left','left','center']" data-hoffset="['285','15','41','611']"
                    data-y="['top','top','top','middle']" data-voffset="['600','550','450','170']"
                    data-width="180"
                    data-height="50"
                    data-whitespace="normal"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="opacity:0;s:300;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-responsive="off"
                    style="z-index: 10; min-width: 180px; max-width: 50px; white-space: normal; color: rgba(34, 34, 34, 1.00);text-align:center;text-transform:uppercase;background-color:rgba(255, 255, 255, 1.00);padding:19px 40px 19px 40px;border-width:1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">QUERO
                </div>
                <!-- LAYER NR. 6 -->
                <div class="tp-caption a-btn rev-btn "
                id="slide-25-layer-6"
                data-x="['left','left','left','left']" data-hoffset="['562','250','41','19']"
                data-y="['top','top','top','top']" data-voffset="['600','550','540','330']"
                data-width="180"
                data-height="50"
                data-whitespace="normal"
                data-transform_idle="o:1;"
                data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                data-transform_out="opacity:0;s:300;"
                data-mask_in="x:0px;y:0px;"
                data-start="500"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on"
                data-responsive="off"
                style="z-index: 10; min-width: 180px; max-width: 50px; white-space: normal; color: rgba(34, 34, 34, 1.00);text-align:center;text-transform:uppercase;background-color:rgba(255, 255, 255, 1.00);padding:19px 40px 19px 40px;border-width:1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">Mais planos</div>
            </li>
        </ul>
    </div>
    <!-- End of slider
    ============================================= -->
    <!-- Start of welcome section
    ============================================= -->
    <section id="welcome-aree" class="welcome-area-section">
     <div class="container">
        <div class="row section-content">
           <div class="welcome-content">
              <div class="kc-elm kc-css-168796 kc-title-wrap   lighting">
                 <div class="title-wrapper raleway">
                    <h3 class="kc_title">Bem Vindo a Libercom</h3>
                 </div>
              </div>
              <div class="kc-cta-desc">
                 <div class="kc-cta-text">
                    A Libercom é uma empresa de internet que atua na Zona Norte de São Paulo a mais de 10 anos.
                    Temos experiência no mercado e preços competitivos, além de ter uma busca incessante ao
                    melhor atendimento.Com a tecnologia mais avançada do mercado, a FIBRA ÓPTICA e nossa equipe
                    altamente qualificada estamos prontos para te atender com a maior excelência.
                 </div>
              </div>
              <div class="kc-cta-button"><a href="{% url 'libercom:sobre' %}">Sobre nós</a></div>
           </div>
        </div>
     </div>
    </section>
    <!-- End of welcome section
    ============================================= -->
    <!-- Start of pricing table
    ============================================= -->
    <section id="pricing-2" class="pricing-2-section">
        <div class="container">
                <div class="pricing-plan-content">
                        {% for plano in planos %}
                            {% if plano.index == 1 or plano.index == 4 %}
                                <div class="row">
                            {% endif %}
                            {% if plano.destaque %}
                                <div class="col-sm-4">
                                    <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 colmd4 text-center mddl">
                                        <div class="priceing-label">
                                            MAIS VENDIDO
                                        </div>
                            {% else %}
                                <div class="col-sm-4">
                                    <div class="kc-elm kc-css-835772 kc-pricing-tables kc-pricing-layout-2 colmd4 text-center">
                            {% endif %}
                                        <div class="header-pricing">
                                            <div class="content-title">
                                                <div id="plano_name">{{ plano.name }}</div>
                                                <div class="content-sub-title">MEGAS</div>
                                            </div>
                                              <div class="kc-pricing-price">
                                                 <span class="content-currency">R$</span>
                                                 <span class="content-price">{{ plano.price }}</span>
                                                 <span class="content-duration">/mês</span>
                                              </div>
                                            </div>
                                        <ul class="content-desc">
                                            <li>{{ plano.roteador }}</li>
                                            <li>{{ plano.download }} de download</li>
                                            <li>{{ plano.upload }} de upload</li>
                                        </ul>
                                        <div class="content-button text-uppercase"><a href="#">Assine Já</a></div>
                                    </div>
                                </div>
                            {% if plano.index == 3 or plano.index == 6 %}
                                </div>
                            {% endif %}
                        {% endfor %}

                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End of pricing table
    ============================================= -->
    <!-- Satrt of service section
    ============================================= -->
    <section id="service-area" class="service-area-section">
     <div class="container">
        <div class="row section-content">
           <div class="kc-elm kc-css-725811 kc-title-wrap   dark">
              <div class="title-wrapper">
                 <h3 class="kc_title"><span>Nossos</span> Serviços</h3>
              </div>
           </div>
           <div class="kc-elm kc-css-522062 kc_text_block text-center">
              <p>Nós da Libercom buscamos diariamente melhorar nossos serviços, tecnologias e nosso atendimento.
                  Aqui tem um pouco sobre o que fazemos e quem somos:
              </p>
           </div>
           <!-- /tittle -->
           <div class="service-area-content">
              <div class="widget widget-features-box default">
                 <div class="content">
                    <div class="row">
                       <div class="col-md-4">
                          <div class="feature-box colmd4">
                             <div class="fbox-img">
                                <div class="fbox-icon">
                                   <div class="inner">
                                      <i class="mn-icon-266"></i>
                                   </div>
                                </div>
                             </div>
                             <div class="fbox-content">
                                <h3 class="ourservice-heading">Atendimento</h3>
                                <p class="description">
                                    Uma equipe especializada e eficiente está
                                    pronta para te atender rapidamente.
                                </p>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="feature-box colmd4">
                             <div class="fbox-img">
                                <div class="fbox-icon">
                                   <div class="inner">
                                      <i class="mn-icon-978"></i>
                                   </div>
                                </div>
                             </div>
                             <div class="fbox-content">
                                <h3 class="ourservice-heading">WIFI GRÁTIS</h3>
                                <p class="description">TODOS os nossos planos incluem um roteador COMODATO</p>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="feature-box colmd4">
                             <div class="fbox-img">
                                <div class="fbox-icon">
                                   <div class="inner">
                                      <i class="mn-icon-780"></i>
                                   </div>
                                </div>
                             </div>
                             <div class="fbox-content">
                                <h3 class="ourservice-heading">Canais</h3>
                                <p class="description">Entre em contato conosco do jeito que preferir.
                                    WhatsApp, Telefone, Email, Facebook, Site, Telegram.
                                </p>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="widget widget-features-box default">
                 <div class="content">
                    <div class="row">
                       <div class="col-md-4">
                          <div class="feature-box colmd4">
                             <div class="fbox-img">
                                <div class="fbox-icon">
                                   <div class="inner">
                                      <i class="mn-icon-485"></i>
                                   </div>
                                </div>
                             </div>
                             <div class="fbox-content">
                                <h3 class="ourservice-heading">Segurança</h3>
                                <p class="description">Temos um firewall para tornar a sua navegação ainda mais segura.</p>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="feature-box colmd4">
                             <div class="fbox-img">
                                <div class="fbox-icon">
                                   <div class="inner">
                                      <i class="mn-icon-776"></i>
                                   </div>
                                </div>
                             </div>
                             <div class="fbox-content">
                                <h3 class="ourservice-heading">Velocidade</h3>
                                <p class="description">Se queria velocidade na sua internet veio ao lugar certo. A Libercom tem os melhores planos para você.</p>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="feature-box colmd4">
                             <div class="fbox-img">
                                <div class="fbox-icon">
                                   <div class="inner">
                                      <i class="mn-icon-825"></i>
                                   </div>
                                </div>
                             </div>
                             <div class="fbox-content">
                                <h3 class="ourservice-heading">Preços</h3>
                                <p class="description">Temos preços competitivos e com um grande custo benefício.</p>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
    </section>
    <!-- End of service section
    ============================================= -->
    <!-- Satrt of count
    ============================================= -->
    <section id="love-our-network" class="love-our-network-section v-2">
     <div class="container">
        <div class="row section-content">
           <div class="kc-elm kc-css-152924 kc_row kc_row_inner">
              <div class="col-sm-3 kc-elm kc-css-96571 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                 <div class="kc_wrapper kc-col-inner-container">
                    <div class="kc-elm kc-css-625587 kc_counter_box">
                       <i class="mn-icon-380 element-icon"></i><span class="counterup">4534</span>
                       <h4>Clientes</h4>
                    </div>
                 </div>
              </div>
              <div class="col-sm-3 kc-elm kc-css-280189 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                 <div class="kc_wrapper kc-col-inner-container">
                    <div class="kc-elm kc-css-492223 hidden-md hidden-lg"></div>
                    <div class="kc-elm kc-css-576522 kc_counter_box">
                       <i class="mn-icon-1103 element-icon"></i>	<span class="counterup">21</span>
                       <h4>Anos de Experiência</h4>
                    </div>
                 </div>
              </div>
              <div class="col-sm-3 kc-elm kc-css-354602 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                 <div class="kc_wrapper kc-col-inner-container">
                    <div class="kc-elm kc-css-575471 hidden-md hidden-lg"></div>
                    <div class="kc-elm kc-css-128811 kc_counter_box">
                       <i class="mn-icon-776 element-icon"></i>	<span class="counterup">45867</span>
                       <h4>KL de Fibra Óptica</h4>
                    </div>
                 </div>
              </div>
              <div class="col-sm-3 kc-elm kc-css-470309 kc_col-sm-3 kc_column_inner kc_col-sm-3">
                 <div class="kc_wrapper kc-col-inner-container">
                    <div class="kc-elm kc-css-629580 hidden-md hidden-lg"></div>
                    <div class="kc-elm kc-css-756091 kc_counter_box">
                       <i class="mn-icon-1225 element-icon"></i>	<span class="counterup">7</span>
                       <h4>Empresas Parceiras</h4>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
    </section>
    <!-- End of count
    ============================================= -->
    <!-- Start of why choose us
    ============================================= -->
    <section id="why-choose" class="why-choose-us">
     <div class="container">
        <div class="row section-content">
           <div class="kc-elm kc-css-725811 kc-title-wrap raleway  dark">
              <div class="title-wrapper">
                 <h3 class="kc_title"><span>Porque</span> nos escolher</h3>
              </div>
           </div>
           <div class="kc-elm kc-css-522062 kc_text_block text-center">
              <p>
                  Estamos aqui para conectar nossos clientes ao mundo da maneira mais rápida e estável.
              </p>
           </div>
           <!-- /tittle -->
           <div class="service-box-content">
              <div class="row">
                 <div class="col-sm-4">
                    <div class="kc-elm kc-css-409477 kc_col-sm-4 kc_column_inner kc_col-sm-4 kc-pc-loaded">
                       <div class="kc_wrapper kc-col-inner-container">
                          <div class="kc-elm kc-css-510764 hidden-md hidden-lg">
                          </div>
                          <div class="widget widget-features-box style2">
                             <div class="content">
                                <div class="feature-box">
                                   <div class="fbox-img">
                                      <div class="fbox-icon">
                                         <div class="inner">
                                            <i class="mn-icon-1104"></i>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="fbox-content">
                                      <h3 class="ourservice-heading">Constante Evolução</h3>
                                      <p class="description">
                                          Constantemente estamos a aumentar as nossas velocidades, e connosco
                                          ninguém fica para trás. O seu plano será aumentado também! Temos clientes
                                          que iniciaram com a gente com um plano de 5 MEGAS e, atualmente, sem pagar
                                          nem um centavo a mais, tem um plano de 40 MEGAS.
                                      </p>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- /col-sm-4 -->
                 <div class="col-sm-4">
                    <div class="kc-elm kc-css-409477 kc_col-sm-4 kc_column_inner kc_col-sm-4 kc-pc-loaded">
                       <div class="kc_wrapper kc-col-inner-container">
                          <div class="kc-elm kc-css-510764 hidden-md hidden-lg">
                          </div>
                          <div class="widget widget-features-box style2">
                             <div class="content">
                                <div class="feature-box">
                                   <div class="fbox-img">
                                      <div class="fbox-icon">
                                         <div class="inner">
                                            <i class="mn-icon-1481"></i>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="fbox-content">
                                      <h3 class="ourservice-heading">Custo Benefício</h3>
                                      <p class="description">
                                          Sempre procuramos manter nosso custo benefício o mais acessível possível, ou
                                          seja, mantendo a taxa de instalação a um preço muito a baixo da média e
                                          oferencendo mais MEGAS com um custo menor.
                                      </p>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- /col-sm-4 -->
                 <div class="col-sm-4">
                    <div class="kc-elm kc-css-409477 kc_col-sm-4 kc_column_inner kc_col-sm-4 kc-pc-loaded">
                       <div class="kc_wrapper kc-col-inner-container">
                          <div class="kc-elm kc-css-510764 hidden-md hidden-lg">
                          </div>
                          <div class="widget widget-features-box style2">
                             <div class="content">
                                <div class="feature-box">
                                   <div class="fbox-img">
                                      <div class="fbox-icon">
                                         <div class="inner">
                                            <i class="mn-icon-1051"></i>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="fbox-content">
                                      <h3 class="ourservice-heading">Atendimento</h3>
                                      <p class="description">
                                          Contamos com o dobro da equipe necessária para manter
                                          nossas estruturas. Aqui na Libercom ninguém espera para ser atendido.
                                          Ainda contamos com uma grande variedade de canais para escolher
                                          qual o melhor para você.
                                      </p>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- /col-sm-4 -->
              </div>
              <!-- /row -->
           </div>
        </div>
     </div>
    </section>
    <!-- End of why choose us
    ============================================= -->
    <!-- Start of speed test
    ============================================= -->
    <section id="free-download" class="free-download-section v-2">
     <div class="container">
        <div class="row section-content">
           <div class="free-download-section-content">
              <div class="row">
                 <div class="col-sm-6">
                    <div class="kc-elm kc-css-579815 kc_col-sm-6 kc_column_inner kc_col-sm-6 kc-pc-loaded">
                       <div class="kc_wrapper kc-col-inner-container">
                          <div class="kc-elm kc-css-105051 hidden-sm hidden-xs"></div>
                          <div class="kc-elm kc-css-741884 hidden-md hidden-lg"></div>
                          <div class="kc-elm kc-css-659695 kc_text_block">
                             <div class="intro">
                                <div class="title">Rápido &amp; Estável<br>
                                   Faça um Teste de Velocidade
                                </div>
                                <div class="description">
                                   <p>
                                       Teste a velocidade da sua internet em um site confiável<br>
                                       Clique no botão abaixo para ser redirecionado.
                                   </p>
                                </div>
                             </div>
                          </div>
                          <div class="kc-elm kc-css-115932 hidden-sm hidden-xs"></div>
                          <div class="contact-info ">
                             <div class="media">
                                <div class="media-body">
                                   <div id="test">
                                       <a id="a_test" target="_blank" href="https://www.minhaconexao.com.br/?server_id=004039">
                                           TESTAR
                                       </a>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="kc-elm kc-css-634025 hidden-md hidden-lg" ></div>
                          <div class="kc-elm kc-css-556965 hidden-sm hidden-xs"></div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
    </section>
    <!-- End of speed test
    ============================================= -->
    <!-- Start of partner slide
    ============================================= -->
    <div id="partner-slide" class="partner-slide-section">
     <div class="container">
        <div class="row section-content">
           <div class="partner-sllide-content">
              <div class="partner-img">
                 <img src="{% static 'libercom/img/6.png' %}" alt="">
              </div>
              <div class="partner-img">
                 <img src="{% static 'libercom/img/2.png' %}" alt="">
              </div>
              <div class="partner-img">
                 <img src="{% static 'libercom/img/7.png' %}" alt="">
              </div>
              <div class="partner-img">
                 <img src="{% static 'libercom/img/3.png' %}" alt="">
              </div>
              <div class="partner-img">
                 <img src="{% static 'libercom/img/0.png' %}" alt="">
              </div>
              <div class="partner-img">
                 <img src="{% static 'libercom/img/5.png' %}" alt="">
              </div>
           </div>
        </div>
     </div>
    </div>
    <!-- End of partner slide
    ============================================= -->
    <!-- Start of testimonial
    ============================================= -->
    <section id="testimonial" class="testimonial-section">
        <div class="container">
            <div class="row section-content">
                <div class="testimonial-slide">
                    <div class="quate-pic text-center">
                        <img src="{% static 'libercom/img/quote.png' %}" alt="image">
                    </div>
                    <div class="testimonial-slide-content">
                        {% for t in testemunho %}
                            {% if t.enable %}
                                <div class="slider-text-name">
                                    <div class="slider-text">
                                        <p>{{ t.testemunho }}</p>
                                    </div>
                                    <div class="slider-name-des text-center">
                                        <div class="info">
                                            <h3 class="name-client">{{ t.name }} {{ t.apelido }}</h3>
                                            {% if t.voto == 1 %}
                                                <span class="job">⭐</span>
                                            {% elif t.voto == 2 %}
                                                <span class="job">⭐⭐</span>
                                            {% elif t.voto == 3 %}
                                                <span class="job">⭐⭐⭐</span>
                                            {% elif t.voto == 4 %}
                                                <span class="job">⭐⭐⭐⭐</span>
                                            {% elif t.voto == 5 %}
                                                <span class="job">⭐⭐⭐⭐⭐</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="espace" class="quate-pic text-center">
                        <div class="content-button text-uppercase">
                            <a id="add_test"  href="{% url 'libercom:add-testemunho' %}">Escrever Testemunho</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of testimonial
    ============================================= -->
{% endblock %}